{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
{% endblock css %}


{% block javascript %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
{% endblock javascript %}



{% block styles %}
    <style>
        #map { height: 300px; }
    </style>
{% endblock styles %}

{% block content %}

    <div class="container mt-5 mb-5">
        <h1 class="mt-5 mb-5 text-center">{{escuela}}</h1>

        <div id="map" class="mt-5 w-50 mx-auto"></div>



        <div class="card mb-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Datos Institucionales</h5>
                {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> {% endcomment %}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <u>Cueanexo</u>: {{escuela.cueanexo}}</li>
                <li class="list-group-item"><u>Departamento</u>: {{escuela.departamento}}</li>
                <li class="list-group-item"><u>Localidad</u>: {{escuela.localidad}}</li>
            </ul>
        </div>

        <div class="card mb-5" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">Planes de estudio</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% if plan_estudio %}
                    {% for plan in plan_estudio %}
                        <li class="list-group-item">{{plan.modalidad}} | {{plan.plan_estudio}}</li>
                    {% endfor %}
                {% else %}
                    <p class="text-center">No se encontraron planes de estudios.</p>
                {% endif %}
            </ul>
        </div>

        <div class="card mb-5" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">Información del establecimiento</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% if info_establecimiento %}
                    {% for est in info_establecimiento %}
                        <li class="list-group-item">Tiene energía eléctrica: {{est.tiene_energia|upper}}</li>
                        <li class="list-group-item">Fuente energía eléctrica: {{est.fuente_energia|upper}}</li>
                        <li class="list-group-item">Agua potable: {{est.agua_potable|upper}}</li>
                        <li class="list-group-item">Biblioteca: {{est.biblioteca|upper}}</li>
                    {% endfor %}
                {% else %}
                    <p>No se encotró info de establecimiento</p>
                {% endif %}
            </ul>
        </div>

    </div>

    <script>
        let coordenadas = {{ escuela.tablalocalizaciones.geom.json|safe }}
        let map = L.map('map').setView(coordenadas.coordinates.reverse(), 16);
        let nom_escuela = '{{escuela.nom_est}}'


        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://sigechaco.com.ar/">Estadisticas Educativas - Chaco</a>'
        }).addTo(map);

        let marker = L.marker(coordenadas.coordinates).addTo(map);

        function onMarkerClick(e) {
            L.popup({ offset: L.point(0, -20) })
                .setLatLng(e.latlng)
                .setContent(nom_escuela)
                .openOn(map);
        }

        marker.on('click', onMarkerClick);

    </script>
{% endblock %}

