{% extends "base_admin.html" %}

{% block css %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- clustering de marcadores -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

<style>    

    #map {      
        height: 750px;       
    }  
    
</style>

        

{% endblock %}



{% block javascript %}

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
    </script>
    <!-- clustering de marcadores -->
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

        

{% endblock javascript %}



{% load static %}

{% block content %}   

<div id="template-point_data">
    <div class="row justify-content-center d-none">
        <div class="col-12 mb-2 fs-6">%nom_est%</div>
        <div class="col-6">Cueanexo</div><div class="col-6">%cueanexo%</div>
        <div class="col-6">Sector</div><div class="col-6">%sector%</div>
        <div class="col-6">Ambito</div><div class="col-6">%ambito%</div>
        <div class="col-6">Region</div><div class="col-6">%region_loc%</div>
        <div class="col-6">Localidad</div><div class="col-6">%localidad%</div>
        <div class="col-6">Departamento</div><div class="col-6">%departamento%</div>
        <div class="col-6">Estado</div><div class="col-6">%estado_loc%</div>
    </div>
</div> 





    <div class="row justify-content-center ">
        <div class="col-12 pt-3">
            <div id="map"></div>
        </div>
    </div>


{% endblock %}





{% block inline_javascript %}

<script defer src="{% static 'js/mapa/index.js' %}"></script>

{% endblock %}