{% extends "base_admin.html" %}

{% load static %}

{% block content %}

<Style>
    table.dataTable td {
        font-size: 12px;
    }

    table tr.row-error {
        background-color: #ffa9a9;
    }

    table tr.row-warning {
        background-color: #fff1c5;
    }
</Style>

{% csrf_token %}


<input type="text" name="radio" id="radio" value="{{radio}}" class="d-none">
<input type="text" name="centro" id="centro" value="{{centro}}" class="d-none">
<input type="text" name="dpto" id="dpto" value="{{dpto}}" class="d-none">
<input type="text" name="ambito" id="ambito" value="{{ambito}}" class="d-none">
<input type="text" name="sector" id="sector" value="{{sector}}" class="d-none">
<input type="text" name="polygon" id="polygon" value="{{polygon}}" class="d-none">



<div class="row justify-content-center container-table">
    <div class="col-12 pt-3 ">
        <table id="tabla-localizaciones" class="table table-bordered  " style="width: 100%;">
        </table>
    </div>
</div>

<div id="preloader" class="d-none">
    <div class='row justify-content-center'>
      <div class='col-auto'>
        <i class='fa-solid fa-cog fa-spin fa-xl'></i>
      </div>
      <div class='col-auto'>
        Obteniendo localizaciones seleccionadas.
      </div>
      <div class='col-auto'>
        Por favor espere...
      </div>
    </div>
  </div>

{% endblock %}

{% block inline_javascript %}

<script defer src="{% static 'js/mapa/localizaciones.js' %}"></script>

{% endblock %}