
{% extends "base_admin.html" %}

{% load static %}

{% block content %}

<Style>

    table.dataTable td {
        font-size: 12px;
    }

</Style>

{% csrf_token %}

<div class="row border-bottom p-2 d-flex bg-light">

    <div class="col-3">
      <form>
        <div class="form-floating">          
          <select class="form-select matricula_input" id="matricula_input" aria-label="Mátricula">
            <option value="none" selected></option>
          </select>
          <label for="matricula_input">Mátricula</label>
        </div>
      </form>
    </div>

    <div class="col-3">
        <form>
          <div class="form-floating">
            <select class="form-select control_type_input" id="control_type_input" aria-label="Tipo de control">
              <option value="none" selected></option>
            </select>
            <label for="control_type_input">Tipo de control</label>
          </div>
        </form>
      </div>
  
</div>

<div id="preloader" class="d-none">
  <div class='row justify-content-center'>
    <div class='col-auto'>
      <i class='fa-solid fa-cog fa-spin fa-xl'></i> 
    </div>
    <div class='col-auto'>
      Realizando controles.
    </div>
    <div class='col-auto'>
      Por favor espere...
    </div>
  </div>
</div>


<div class="row justify-content-center">
    <div class="col-auto pt-3">

        <div class="alert alert-primary alert-msg-none-selection"  role="alert">
          Seleccione mátricula y tipo de control
        </div>

        <table id="tabla-matricula" class="table table-bordered  table-striped" style="width: 100%;">
        </table>

    </div>
</div>


{% endblock %}

{% block inline_javascript %}

<script>

  var eb = function(c){
      let s = ""
      for (let i = 0; i < c; i++) {
          s+="&nbsp"             
      }
      return s
  }

</script>

<script defer src="{% static 'js/controls/columns/matricula_comun_inicial.js' %}"></script>
<script defer src="{% static 'js/controls/columns/matricula_comun_primaria.js' %}"></script>
<script defer src="{% static 'js/controls/columns/matricula_comun_secundaria.js' %}"></script>
<script defer src="{% static 'js/controls/matricula.js' %}"></script>

{% endblock %}
