{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign Out" %}{% endblock %}

{% block inner %}
<div class="my-4 row justify-content-center">
  <div class="col-auto p-5 text-center">
    <h1 class="text-center">{% translate "Sign Out" %}</h1>

    <p class="text-center">{% translate 'Are you sure you want to sign out?' %}</p>

    <form class="mx-auto" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input class="mx-auto" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn btn-danger mx-auto" type="submit">{% translate 'Sign Out' %}</button>
    </form>
  </div>
</div>
{% endblock %}
