{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row d-flex justify-content-center">
    <div class="col-8 my-3">
        <h1 class="text-center">Postear</h1>
        <form method="POST" enctype="multipart/form-data">
            {% load crispy_forms_tags %}
            {%csrf_token%}
            {{form.errors}} 
            {{form.media}} 
            {{ form|crispy }}
            <br>
            <input class="btn btn-primary" type="submit" value="Postear">
        </form>
    </div>
</div>

{% endblock content %}