{% extends "base_admin.html" %}

{% load static %}


{% block content %}

<style>

    .border-card-primary {
        border-left: 4px solid #0d6efd;
    }
    .border-card-success {
        border-left: 4px solid #1cc88a;
    }
    .border-card-info {
        border-left: 4px solid #36b9cc;
    }
    .border-card-warning {
        border-left: 4px solid #f6c23e;
    }

</style>

<div class="row pt-2">

    <div class="col-6">

        <div class="card border-card-primary  h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col">
                        <div class="fw-light text-primary text-uppercase mb-1">
                            Ofertas educativas
                        </div>
                        <div class="h5 mb-0">Total 3.956</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-user-tie fa-2x text-muted"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <canvas id="chart_bar_oferta_educativa"></canvas>
                    </div>                 
                </div>

            </div>
        </div>

    </div>
</div>




{% endblock %}

{% block inline_javascript %}

<!-- EasyButton -->
<script defer src="{% static 'js/dashboard/index.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>



{% endblock %}
