{% load static %}


{% block css %}

<link href="{% static 'css/header.css' %}" rel="stylesheet">

{% endblock %}


{% block header %}


<div class="row border-bottom p-2 d-flex justify-content-between bg-light">




  <div class="d-flex col-9 col-6 text-center">
    <span class="h1 text-secondary">{{title}}</span>
  </div>


  <div class="col-3">

    <div class="row">
      <div class="col-8 text-end">
        <span class="me-2">pepe</span>
      </div>
      <div class="col-4">

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            {% if request.user.username %}
            <li><a class="dropdown-item" href="{% url 'users:detail' request.user.username%}">Mi perfil</a></li>
            {% endif %}
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Salir</a></li>
          </ul>
        </div>

      </div>
    </div>



  </div>

</div>







{% endblock %}

{% block javascript %}

<script defer src="{% static 'js/header.js' %}"></script>

{% endblock %}
