
.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.menu-dashboard:hover .btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.65);
  background-color: transparent;
  border: 0;
}

.btn-toggle {
  display: none;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.65);
  background-color: transparent;
  border: 0;
}

.menu-dashboard:hover .icon{
  display: none;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #ffffff;
}

.menu-dashboard:hover .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(255, 255, 255, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle[aria-expanded="true"]:hover {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]:focus {
  color: rgba(0, 0, 0, 0.85);
}

.menu-dashboard .btn-toggle-nav{
  display: none;
}

.menu-dashboard:hover .btn-toggle-nav{
  display: block;
  margin-left: 15px;
}

.menu-dashboard:hover .btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.menu-dashboard:hover .btn-toggle-nav a:hover,
.menu-dashboard:hover .btn-toggle-nav a:focus {
  background-color: #ffffff;
}

.menu-dashboard:hover .btn-toggle-nav a:focus {
  color: #000;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }



.menu-dashboard:hover .btn-toggle-nav a:hover{
  color: #000
}

.menu-dashboard span{
  display: none;
  transition: all 0.5s;
}

.menu-dashboard:hover span{
  display: block;
}

.menu-dashboard{
  height: 1200px;
  background-color: #212529;
}

.icon2{
  color: #fff !important; 
}

.icon{
  font-size: 2em;
  color: rgba(255, 255, 255, 0.65);
  margin: auto;
  padding: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active i{
  color: #1AB1D8 !important;
}

.menu-dashboard-mobile{
  
  position: fixed;
  display: none;
  height: 100%;
  background-color: #212529;
  opacity:1;
  z-index: 999999;
}





/* MOBILE */

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle2 {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle2:hover,
.btn-toggle2:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #ffffff;
}

.btn-toggle2::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle2[aria-expanded="true"] {
  color: rgba(255, 255, 255, 0.85);
}
.btn-toggle2[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle2[aria-expanded="true"]:hover {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle2[aria-expanded="true"]:focus {
  color: rgba(0, 0, 0, 0.85);
}

.btn-toggle-nav2 a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav2 a:hover,
.btn-toggle-nav2 a:focus {
  background-color: #ffffff;
}

.btn-toggle-nav2 a:focus {
  color: #000;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }


.btn-toggle-nav2 a:hover{
  color: #000
}

